;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.8.1-BINDFIX" :exclusions [cljsjs/react cljsjs/react-dom]]
  [cljs-http "0.1.46"]
  [lambdaisland/uri "1.1.0"]
  [cider/cider-nrepl "0.21.1"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn mule-preview.client.core/init!}}
   :output-dir "public/js"
   :asset-path "/js"}
  :dist
  {:target :npm-module
   :output-dir "dist"
   :compiler-options {:infer-externs :auto}
   :entries [mule-preview.client.js-export
             mule-preview.client.test-utils]}}}
