@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 72px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.root-component {
  padding: 20px;
}

.container {
  border: 1px solid gray;
  float: left;
  padding: 5px;
}

.container-children {
  padding: 10px;
  align-items: center;
}

.container-children > * {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.container-children > .error-handler {
  clear: left;
}

.component {
  font-size: 12px;
  text-align: center;
  width: 90px;
  max-width: 90px;
}

.container-title {
  font-size: 14px;
  font-weight: 500;
}