@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.css');

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 72px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.root-component {
  padding: 20px;
}

.container {
  border: 1px solid gray;
  padding: 5px;
}

.container.root {
  border: none;
}

.container.horizontal > .container-inner > .container-children {
  flex-direction: row;
}

.container.vertical > .container-inner > .container-children {
  flex-direction: column; 
  align-items: flex-start;
}

.container.horizontal > .container-inner > .container-children > * {
  margin-left: 5px;
  margin-right: 5px;
}

.container.vertical > .container-inner > .container-children > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-inner {
  display: flex;
}

.icon {
  width: 48px;
  height: 32px;
}

.container-image {
  align-self: center;
}

.container-children {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start
}

.container-children > img {
  padding-top: 20px;
}

.component {
  font-size: 12px;
  text-align: center;
  width: 90px;
  max-width: 90px;
  padding: 5px;
}

.container-title {
  font-size: 14px;
  font-weight: 500;
}

.container.vertical > .container-inner > .container-children > .flow-arrow {
  display: none;
}

.hidden {
  display: none;
}