/* TODO: Fix specificity warnings */
/* stylelint-disable no-descending-specificity  */

.mp-hidden {
  display: none !important;
}

.mp.root-component {
  padding: 20px;
}

.mp .container {
  padding: 5px;
  border: 1px solid gray;
  background-color: white;
}

.mp .container.mule-mule {
  background-color: transparent;
}

.mp .container.root {
  border: none;
}

.mp .container.horizontal > .container-inner > .container-children {
  flex-direction: row;
}

.mp .mule-flow,
.mp .mule-sub-flow,
.mp .mule-foreach {
  border-top: 2px solid blue;
}

.mp .error-handler {
  border-top: 2px solid red;
}

.mp
  .mule-scatter-gather
  > .container-inner
  > .container-children
  > .mule-processor-chain,
.mp
  .mule-scatter-gather
  > .container-inner
  > .container-children
  > .mule-processor-chain
  > .container-inner
  > .container-children {
  border: none;
  padding: 0;
  margin: 0;
}

.mp
  .mule-scatter-gather
  > .container-inner
  > .container-children
  > .mule-processor-chain
  > .container-title {
  display: none;
}

.mp .mule-psuedo,
.mp .mule-when,
.mp .mule-otherwise {
  border: none;
  background-color: inherit;
}

.mp .mule-choice > .container-inner > .container-children,
.mp .mule-scatter-gather > .container-inner > .container-children {
  border-left: 2px solid #ffd200;
  margin-left: 20px;
}

.mp .container.vertical > .container-inner > .container-children {
  flex-direction: column;
  align-items: flex-start;
}

.mp .container.horizontal > .container-inner > .container-children > *,
.mp .container.error-handler > .container-inner > .container-children > * {
  margin-left: 5px;
  margin-right: 5px;
}

.mp .container.vertical > .container-inner > .container-children > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mp .container-inner {
  display: flex;
  position: relative;
  align-items: center;
}

.mp .category-frame {
  width: 64px;
  height: 64px;
}

.mp .icon {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 37px;
  top: 24px;
  object-fit: contain;
}

.mp .icon-container {
  position: relative;
  display: none;
}

.mp .container-image {
  align-self: center;
  margin-left: 20px;
  left: 0;
  top: 20px;
}

.mp .container-children {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}

.mp .container-children > img {
  padding-top: 20px;
}

.mp .component {
  font-size: 12px;
  text-align: center;
  width: 90px;
  max-width: 90px;
  padding: 5px;
  position: relative;
}

.mp .component-container {
  position: relative;
}

.mp .component > .label {
  word-wrap: break-word;
}

.mp .container-title {
  font-size: 14px;
  font-weight: 500;
}

.mp .component-container .diff-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -12px;
  top: -12px;
}

.mp .component-container.added .diff-icon {
  background-image: url("../img/plus.svg");
}

.mp .component-container.removed .diff-icon {
  background-image: url("../img/minus.svg");
}

.mp .component-container.edited .diff-icon {
  background-image: url("../img/is-not-equal-to.svg");
}

.mp .container.vertical > .container-inner > .container-children > .flow-arrow {
  display: none;
}

.mp .container.vertical > .container-inner > .icon-container {
  display: block;
}

.mp .container.root > .container-inner > .icon-container,
.mp .container.mule-flow > .container-inner > .icon-container,
.mp .container.munit > .container-inner > .icon-container {
  display: none;
}

.mp .hidden {
  display: none;
}

/* Diffing Styles */
.mp .edited {
  border: 2px solid #eea236;
  border-radius: 5px;
}

.mp .added {
  border: 2px solid #4cae4c;
  border-radius: 5px;
}

.mp .removed {
  border: 2px solid #d43f3a;
  border-radius: 5px;
}

.mp .container.edited {
  background: repeating-linear-gradient(
    45deg,
    #f0ad4ebb,
    #f0ad4ebb 10px,
    #eea236bb 10px,
    #eea236bb 20px
  );
}

/* We want the added/removed states to propagate to children */
.mp .added.container {
  background: repeating-linear-gradient(
    45deg,
    #5cb85cbb,
    #5cb85cbb 10px,
    #4cae4cbb 10px,
    #4cae4cbb 20px
  );
}

.mp .removed.container {
  background: repeating-linear-gradient(
    45deg,
    #d9534fbb,
    #d9534fbb 10px,
    #d43f3abb 10px,
    #d43f3abb 20px
  );
}

.mp .container.edited .container,
.mp .container.added .container,
.mp .container.removed .container {
  background-color: transparent;
}

/* Tooltip */

.mp-popover ul {
  list-style-type: none;
  padding-left: 0;
}

.mp-popover .previous {
  color: red;
  text-decoration: line-through;
}

.mp-popover .current {
  color: green;
}

/* Extracted from Bootstrap v3.3.5 stylesheet
   We use re-com for the popovers and it depends on Bootstrap.
   so we don't have to pull in the world for one popover I extracted
   it manually. */

.mp-popover-root {
  z-index: 5000;
}

.mp-popover-root > * {
  z-index: 5000;
}

.mp-popover {
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto;
}
.mp-popover.top {
  margin-top: -10px;
}
.mp-popover.right {
  margin-left: 10px;
}
.mp-popover.bottom {
  margin-top: 10px;
}
.mp-popover.left {
  margin-left: -10px;
}
.mp-popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.mp-popover-content {
  padding: 9px 14px;
}

.mp-change-location {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
}

/* MUnit Flows */

.mp .mule-munit_test,
.mp .mule-munit_before-test,
.mp .mule-munit_after-test,
.mp .mule-munit_after-suite,
.mp .mule-munit_before-suite {
  border-top: 2px solid #fc6;
}

.mp .mule-munit_test.vertical .mule-psuedo.top {
  border-bottom: 1px solid #c4c4c4;
}

.mp .mule-munit_test.vertical > .container-inner > .container-children {
  align-items: center;
}

.mp
  .mule-munit_test.vertical
  > .container-inner
  > .container-children
  > .container
  > .container-title {
  text-align: center;
}
