@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

body {
  font-family: "Roboto", sans-serif;
  padding-top: 72px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
